* {
  box-sizing: border-box;
  margin-top: 0;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clr {
  clear: both; /* Corrected 'clr' to 'clear' */
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

html {
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4em;
  color: #478298;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  color: #666;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  padding: 15px;
}

.item img {
  border-radius: 10px;
  width: 100px; /* Adjusted size for images */
  height: auto;
}

.item-details {
  flex-grow: 1;
  padding-left: 15px;
}

.item-details h3 {
  margin: 0;
}

.item-details p {
  margin: 5px 0;
}

.item-price {
  color: #478298;
  font-weight: bold;
}

.item-quantity {
  display: flex;
  align-items: center;
}

.item-quantity span {
  margin: 0 10px;
}

.btn-quantity {
  transition: background-color 0.3s ease;
  font-size: 0.8em;
  box-shadow: 0 0 5px #0003;
  border-radius: 20px;
  padding: 10px 15px;
}

.btn-quantity.plus {
  color: #478298;
}

.btn-quantity.plus:hover {
  color: #3a676b; /* Adjusted darker color */
}

.btn-quantity.minus {
  color: #478298;
}

.btn-quantity.minus:hover {
  color: #3a2d2f; /* Adjusted darker color */
}

.btn-remove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  text-align: center;
  display: inline-block;
  color: #e94343;
  font-size: 1.4em;
}

.btn-remove:hover {
  color: #1d1e22; /* Adjusted hover color */
}

.total {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 20px;
}

.total h2 {
  margin: 0;
  color: #478298;
  text-align: center;
}

.total p {
  margin: 5px 0;
  text-align: center;
}

.checkout {
  text-align: center;
  margin: 20px 0;
}

.checkout a {
  padding: 10px 20px;
  background: #478298;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.checkout a:hover {
  background: #3a676b; /* Adjusted hover color */
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3em;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .item img {
    margin-bottom: 10px;
  }

  .btn-quantity {
    font-size: 0.7em;
  }

  .btn-remove {
    font-size: 1.2em;
  }
}
