{% extends 'app1/base.html' %}
    <!-- header section starts -->
{% load static %}

{% block content %}

    

    <!-- sub heading -->

    <div class="sub-heading">
        <h1>contact us</h1>
    </div>

    <!-- end -->

    <!-- contact us section starts -->

    <section class="contact">

        <div class="row">

            <form action="">
                <h3>book a table</h3>

                <div class="inputBox">
                    <input type="text" placeholder="Enter Your Name" class="box">
                    <input type="email" placeholder="Enter Your Email" class="box">
                </div>

                <div class="inputBox">
                    <input type="number" placeholder="Enter Your number" class="box">
                    <input type="number" placeholder="How Many Members" class="box">
                </div>
                <textarea placeholder="Your Message" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn">

            </form>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.9293944930487!2d-97.7546682884772!3d30.267592874706946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b50e25cd8c2d%3A0x3fa3976be9ecaa5!2sMerit%20Coffee!5e0!3m2!1sen!2s!4v1709320735877!5m2!1sen!2s" width="550" allowfullscreen="" loading="lazy" class="map"></iframe>

        </div>

    </section>


    <!-- contact us section ends -->

    {% endblock content %}









