{% extends 'app1/base.html' %}
{% load static %}

{% block content %}
        <!-- home section starts -->
    
        
        <body id="top">

        
          <main>
            <article>
        
              <!-- 
                - #HERO
              -->
        
              <section class="hero">
                <div class="container">
        
                  <div class="hero-content">
        
                    <p class="hero-subtitle">25% off all products.</p>
        
                    <h2 class="h1 hero-title">
                      Qualityful <span class="span">organic</span>
                      fruit & <span class="span">vegetables.</span>
                    </h2>
        
                    <p class="hero-text">
                      It has survived not only five centuries also there leaped.
                    </p>
        
                    <a href="{% url 'store:shop' %} " class="btn btn-primary">
                      <span class="span">Shop Now</span>
        
                      <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>
                    </a>
        
                  </div>
        
                  <figure class="hero-banner">
                    <img src="{% static 'assets/images/hero-banner.png' %}" width="603" height="634" loading="lazy" alt="Vegetables"
                      class="w-100">
                  </figure>
        
                </div>
              </section>
        
        
        
        
        
        
              <!-- 
                - #OFFERS
              -->
        
              <section class="section offers">
                <div class="container">
        
                  <ul class="offers-list has-scrollbar">
        
                    <li class="offers-item">
                      <a href="{% url 'store:shop' %}" class="offers-card">
        
                        <figure class="card-banner">
                          <img src="{% static 'assets/images/offer-1.png' %}" width="292" height="230" loading="lazy"
                            alt="Fresh vegetables package" class="w-100">
                        </figure>
        
                        <div class="card-content">
                          {% comment %} <p class="card-subtitle">Up To 25% Off</p> {% endcomment %}
        
                          <h3 class="h3 card-title">Fresh vegetables package.</h3>
        
                          <div class="btn btn-primary">Shop Now</div>
                        </div>
        
                      </a>
                    </li>
        
                    <li class="offers-item">
                      <a href="{% url 'store:shop' %}" class="offers-card">
        
                        <figure class="card-banner">
                          <img src="{% static 'assets/images/product-1.png' %}" width="336" height="244" loading="lazy"
                            alt="Healthy & fresh beef" class="w-100">
                        </figure>
        
                        <div class="card-content">
                          {% comment %} <p class="card-subtitle">Up To 25% Off</p> {% endcomment %}
        
                          <h3 class="h3 card-title">Healthy & fresh Fruits.</h3>
        
                          <div class="btn btn-primary">Shop Now</div>
                        </div>
        
                      </a>
                    </li>
        
                  </ul>
        
                </div>
              </section>
        
        
        
        
        
        
        
              <!-- 
                - #CTA
              -->
        
              <section class="cta">
                {% for discount in Prod_offer %}
                    <div class="container">
          
                    <p class="section-subtitle">{{ discount.season }}</p>
          
                    <h2 class="h2 section-title">{{ discount.offer_discription }}</h2>
          
                    <p class="cta-text">
                      {{ discount.attractive_text }}
                    </p>
          
                    <a href="{% url 'store:shop' %}" class="btn btn-primary">
                      <span>Shop Now</span>
          
                      <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>
                    </a>
                  {% endfor %}

                  </div>
              </section>
        
        
        
        
              <!-- 
                - #TOP PRODUCT
              -->
{% comment %}         
              <section class="section top-product">
                <div class="container">
        
                  <p class="section-subtitle"> -- Organic Food --</p>
        
                  <h2 class="h2 section-title">Trendy Products</h2>
                   {% for item in trending  %}         
                      <ul class="top-product-list grid-list">
                      
                        <li class="top-product-item">
                          <div class="product-card top-product-card">
            
                            <figure class="card-banner">
                              <img src="{{ item.image.url }}" width="100" height="100" loading="lazy"
                                alt="{{ item.name }}">
            
                              <div class="btn-wrapper">
                                <button class="product-btn" aria-label="Add to Whishlist">
                                  <ion-icon name="heart-outline"></ion-icon>
            
                                  <div class="tooltip">Add to Whishlist</div>
                                </button>
            
                                <button class="product-btn" aria-label="Quick View">
                                  <ion-icon name="eye-outline"></ion-icon>
            
                                  <div class="tooltip">Quick View</div>
                                </button>
                              </div>
                            </figure>
            
                            <div class="card-content">
            
                              <div class="rating-wrapper">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                              </div>
            
                              <h3 class="h4 card-title">
                                <a href="./product-details.html">{{ item.name }}</a>
                              </h3>
            
                              <div class="price-wrapper">
                                {% if item.on_sale %}
                                <data class="price" value="{{ item.sale_price}}">{{item.sale_price}}</data>
                                {% else %}
                                <del class="del">{{ item.price }}</del>
          
                                {% endif %}
                              </div>
            
                              <button class="btn btn-primary">Add to Cart</button>
            
                            </div>
            
                          </div>
                        </li>
            
                      
                      </ul>
                {% endfor %} 
                </div>
              </section> {% endcomment %}
        
        
        
        
        
        
        
        
              <!-- 
                - #NEWSLETTER
              -->
        
              <section class="section newsletter">
                <div class="container">
        
                  <div class="newsletter-card">
        
                    <p class="section-subtitle"> -- Subscribe Newsletter --</p>
        
                    <h2 class="h2 section-title">Sign Up To Newsletter & Get <span class="span">20% Off.</span></h2>
        
                    <form action="" class="newsletter-form">
        
                      <input type="email" name="email" placeholder="Enter your email" required class="input-email">
        
                      <button type="submit" class="btn btn-primary">
                        <span>Sign Up</span>
        
                        <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>
                      </button>
        
                    </form>
        
                  </div>
        
                </div>
              </section>
        
            </article>
          </main>
        
        
        
        
        
          <!-- 
            - #BACK TO TOP
          -->
        
          <a href="#top" class="back-to-top" aria-label="Back to Top" data-back-top-btn>
            <ion-icon name="arrow-up-outline"></ion-icon>
          </a>
        
        
        

{% endblock content %}