
          <!-- 
            - #HEADER
          -->
        
          <header class="header" data-header>
{% comment %}         
            <div class="top-bar">
              <div class="container">
                <p>Free shipping for all order of $105</p>
              </div>
            </div>
         {% endcomment %}
            <div class="nav-wrapper">
              <div class="container">
        
                <h1 class="h1">
                  <a href="./index.html" class="logo">Organ<span class="span">ica</span></a>
                </h1>
        
                <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
                  <ion-icon name="menu-outline"></ion-icon>
                </button>
        
                <nav class="navbar" data-navbar>
        
                  <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                  </button>
        
                  <ul class="navbar-list">
        
                    <li>
                      <a href="{% url 'store:home' %}" class="navbar-link">Home</a>
                    </li>
        
                    <li>
                      <a href="{% url 'store:about' %}" class="navbar-link">About</a>
                    </li>
        
                    <li>
                      <a href="{% url 'store:shop' %}" class="navbar-link">Shop</a>
                    </li>
        
                    <li>
                      <a href="{% url 'store:blog' %}" class="navbar-link">Blog</a>
                    </li> 
                    {% comment %} <li>
                      <a href="{% url 'store:contact' %}" class="navbar-link">Contact</a>
                    </li> {% endcomment %}
                    
                    
                  </ul>
        
                </nav>
        
                <div class="header-action">
        
                  <div class="search-wrapper" data-search-wrapper>
        
                    <button class="header-action-btn" aria-label="Toggle search" data-search-btn>
                      <i class="fa-solid fa-magnifying-glass"></i>
                      {% comment %} <i class="fa fa-times-circle" aria-hidden="true"></i> {% endcomment %}
                      
                    </button>
        
                    <div class="input-wrapper">
                      <input type="search" name="search" placeholder="Search here" class="search-input">
        
                      <button class="search-submit" aria-label="Submit search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </div>
        
                  </div>
{% comment %}         
                  <button class="header-action-btn" aria-label="Open whishlist" data-panel-btn="whishlist">
                    <i class="fa-solid fa-heart"></i>
        
                    <data class="btn-badge" value="0">0</data>
                  </button> {% endcomment %}
                 <a href="{% url 'cart:cart-summary' %}"  type="button" class="header-action-btn" aria-label="Open shopping cart" data-panel-btn="cart"> 
                    
                      <i class="fa-solid fa-cart-shopping"></i>
                     
                        <span class="btn-badge">{{ totals_items }}</span>
                     </data>  
                    
                    </a>   
                    
                    
                    <!-- Button trigger modal -->
                      {% comment %} <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                        Login
                      </button> {% endcomment %}
                        {% if user.is_authenticated %}
                           <a href="{% url 'user_authentication:logout' %}" type="button" class="header-action-btn">Logout</a>

                       {% else %}
                          <a href="{% url 'user_authentication:login' %}" type="button" class="header-action-btn">Login</a>

                       {% endif %}
                     </div>
                    
                    
                    


                
        
              </div>
            </div>
        
          </header>
        
        
        
        