{% extends 'app1/base.html' %}

{% load static %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'assets/css/product-details.css' %}">


{% endblock extrastyle %}
  

{% block title %}| {{ product.name }}{% endblock title %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}
    success{% elif message.tags == 'warning' %}warning{% elif message.tags == 'info' %}
    info{% else %}secondary{% endif %}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>    
    </div>
{% endfor %}
{% endif %}
  <!-- 
    - #PRODUCT DETAILS
  -->
  <main>
    <article>

      <section class="section product-details">
        <div class="container">

          <div class="wrapper">

            <!-- Product Images -->
            <div class="product-details-img">

              <figure class="product-display">
                <!-- Display main product image -->
                <img src="{{ product.image.url }}" width="700" height="700" loading="lazy"
                  alt="{{ product.name }}" class="w-100" data-product-display>
              </figure>

              <!-- Display all other product images -->
              <ul class="product-thumbnail-list has-scrollbar">
                <li class="product-thumbnail-item">
                  <img src="{{ product.image.url }}" width="700" height="700" loading="lazy"
                    alt="{{ product.name }}" class="w-100" data-product-thumbnail>
                </li>
                {% for image in images %}
                <li class="product-thumbnail-item">
                  <img src="{{ image.images.url }}" width="700" height="700" loading="lazy"
                    alt="{{ image.alt_text }}" class="w-100" data-product-thumbnail>
                </li>
                {% endfor %}
              </ul>

            </div>

            <!-- Product Details -->
            <div class="product-details-content">

              <h3 class="product-title">{{ product.name }}</h3>

              <!-- Display price or sale price if on sale -->
              <data class="product-price">
                {% if product.on_sale %}
                  {{ product.sale_price }} 
                {% else %}
                  {{ product.price }} 
                {% endif %}
              </data>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <p class="product-text">
                {{ product.description }}
              </p>

              <div class="product-weight-wrapper">
                <p class="product-weight-title">Category : {{product.category}}</p>
              </div>
            
              <div class="product-qty">
                <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" class="product-qty-input" id="quantity-input">
                <button class="btn btn-primary product-qty-btn" value="{{ product.id }}" id="add-cart" data-url="{% url 'cart:cart-add' product.id %}">Add To Cart</button>
                {% comment %} {{ totals_items }} {% endcomment %}
              </div>

            </div>

          </div>

        </div>
      </section>

    </article>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
      $('#add-cart').click(function(event) {
          event.preventDefault();
          var productId = $(this).val();
          var quantity = $('#quantity-input').val();
  
          $.ajax({
              type: 'POST',
              url: "{% url 'cart:cart-add' product.id %}",
              data: {
                  'product_id': productId,
                  'quantity': quantity,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success: function(response) {
                console.log('Quantity submitted:', quantity);
                console.log('Server response:', response);

                  if (response.status === 'success') {
                      alert(response.message);
                  }
              }
          });
      });
  });
  </script>
   
 
{% endblock content %}
