{% extends 'app1/base.html' %}
{% load static %}

{% block content %}

      <!-- 
        - #PRODUCT
      -->

      <section class="section product">
        <div class="container">

          {% comment %} <p class="section-subtitle"> -- Organic Products --</p> {% endcomment %}

          <h2 class="h2 section-title"> Products</h2>

          <ul class="filter-list">

            <li>
              <button class="filter-btn active">
                <img src="{% static 'assets/images/filter-1.png' %}" width="20" alt="" class="default">

                <img src="{% static 'assets/images/filter-1-active.png' %}" width="20" alt="" class="color">

                <p class="filter-text">Fresh Vegetables</p>
              </button>
            </li>
          <!-- <a href=""> -->
            <li>
              <button class="filter-btn">
                <img src="{% static 'assets/images/filter-3.png' %}" width="20" alt="" class="default">

                <img src="{% static 'assets/images/filter-3-active.png' %}" width="20" alt="" class="color">

                <p class="filter-text">Healthy Fruits</p>
              </button>
            </li>

          </ul>

          <ul class="grid-list">
           {% for goods in product %}
          
              <li>
                <a href="{% url 'store:product' goods.id %}"> 
                <div class="product-card">

                  <figure class="card-banner">
                    <img src="{{ goods.image.url }} "  width="189" height="189" loading="lazy" alt="">

                    <div class="btn-wrapper">
                      <button class="product-btn" aria-label="Add to Whishlist">
                        <ion-icon name="heart-outline"></ion-icon>

                        <div class="tooltip">Add to Whishlist</div>
                      </button>

                      <button class="product-btn" aria-label="Quick View">
                        <ion-icon name="eye-outline"></ion-icon>

                        <div class="tooltip"><i class="fa fa-eye" aria-hidden="true"></i>
                          Quick View</div>
                      </button>
                    </div>
                  </figure>

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <h3 class="h4 card-title">
                    <a href="#">{{ goods.name }}</a>
                  </h3>
                  {% if goods.on_sale %}
                    <div class="price-wrapper">
                      <del class="del">{{ goods.price }}</del>

                      <data class="price" value="85.00">{{ goods.sale_price }}</data>
                    </div>
                  {% else %}
                    <div class="price-wrapper">
                      <del class="del">{{ goods.price }}</del>
                    </div>   

                  {% endif %}
                  <button class="btn btn-primary">Add to Cart</button>

                </div>
              </a>   
              </li>
             
          {% endfor %}
          </ul>

        </div>
      </section>




{% endblock content %}
